.popup {
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 50%;
    width: 128px;
    height: 128px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: popup 1 1s linear;
}

.popup--like {
    background-image: url('../../img/heart.png');
}

.popup--dislike {
    background-image: url('../../img/heart-broken.png');
}

@keyframes popup {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}