.category {
    padding: 5px 0;
    border-bottom: 1px solid #777;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.category:hover
{
    opacity: .7;
}

.category:active {
    transform: scale(.9);
}
