.search-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.search-bar__input {
    width: 90%;
    font-size: 1.4em;
    padding: 5px 10px;
    font-family: Consolas;
}

.search-bar__btn {
    width: 10%;
    min-width: 40px;
    border: none;
    background: #eee url('../../img/search.png') no-repeat center;
    font-family: Consolas;
}