.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .7);
  background: #eee;
}

.main {
  width: calc(100% - 300px);
  max-height: calc(100vh - 105px);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  width: 300px;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .main {
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar {
    width: 100%;
  }
}